.perso-navbar {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 55px;
  margin-bottom: 0px !important;
}

.dark-navbar {
  background: var(--primaryColor);
  color: white;
  position: static;
}

.transparent-navbar {
  background: transparent;
  color: white;
}

.menu-icon-container {
  display: none;
  padding: 15px;
  padding-left: 8px;
  width: 40px;
}

.menu-icon {
  width: 25px;
  height: 25px;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-list-container {
  padding: 20px;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 575.98px) {
  .big-ticker {
    width: 80% !important;
  }
  .career {
    grid-template-columns: 280px;
    text-align: center;
  }

  .left-img-container {
    display: grid;

    width: 100%;
    height: 100%;
  }

  .left-img-container img {
    min-width: 280px;
    min-height: 200px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px 3px 0px 0px;
  }

  .career-info {
    padding-left: 0px;
    border: 1.5px solid lightgrey;
  }

  .info-header {
    top: 62% !important;
  }
}

@media (max-width: 767.98px) {
  .menu-icon-container {
    display: grid;
  }

  .menu-list-container {
    display: none;
  }
}
