.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 130px);
  grid-gap: 10px;
  justify-self: center;
  justify-content: center;
  margin: 18px;
}
.skill {
  transition: all 0.2s;
}

.skill:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
}

.card-icon {
  width: 130px !important;
  height: 50px !important;
}

.card-body {
  margin: 0px !important;
  height: 40px !important;
  margin-bottom: 10px !important;
}
